body, html {
    background: #fff;
}
.container {
    max-width:960px;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
}

#main {
    padding-top: 61px;
    flex: 1;
}
#page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
p{
    font-size: 16px;
    color: #262629;
    line-height: 22px;
    font-family: Lato, sans-serif;
    font-weight: 300;

}
@media (min-width: 640px){
    #main {
        padding-top: 74px;
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 768px){



}