@import url("reset.css");
@import url("menu.css");
@import url("main.css");
.post-title {
    background: url("../images/small-bg.png");
    text-align: center;
    font-size: 32px;
    color: #0f0f10;
    padding: 38px 0;
    background-size: cover;
    z-index: 20;
    position: relative;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
}
.post-title h1{
    font-weight: bold;
}

.post-page .entry-title{
    display: none;
}
.entry-date, .entry-meta, .comment-metadata {
    display: none;
}
.entry-content p {
    padding-bottom: 10px;
}
@media (min-width: 640px){
    #main {
        height: 100%;
    }
    body, html {
        background: #ececec;;
    }
    .post-page {
        height: 100%;
        display: flex;
        position: relative;
        padding: 0;
        flex: 1;
        width: 100%;
    }

    #primary {
        float: right;
        width: 70%;
        order: 2;
        background: #fff;
        padding: 30px 15px;
        z-index: 9;
    }
    #secondary {
        background: #ececec;
        width: 30%;
        float: left;
    }
    .post-page .navigation {
        padding: 30px 15px;
        box-sizing: border-box;
    }
    .post-page .navigation ul {
        background: transparent;
    }
    .post-page .navigation div {
        width: 100%;
    }
    .post-page .navigation ul li {
        width: 100%;
    }
    .post-navigation {
        display: none;
    }
    .post-title {
        padding: 68px 0;
    }
    .site-info {
        background: #1f1f22;
        font-size: 12px;
        padding: 10px 15px;
        z-index: 9;
        position: relative;
        text-align: center;
    }
    .site-info a{
        color: #7b7b87;
    }
}
@media (min-width: 1024px){
    .post-page:before {
        background-color: #fff;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        content: "";
        display: block;
        height: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 29.4118%;
        z-index: 0;
    }
    #primary {
        width: 80%;
        padding: 35px;
    }
}
